*.out
*.o
Makefile
buildpkg.sh
config.h
config.log
config.status
libssh.a
openbsd-compat/Makefile
openbsd-compat/libopenbsd-compat.a
openbsd-compat/regress/Makefile
openssh.xml
opensshd.init
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
ssh-vulnkey
sshd
survey.sh
tjf/ffrag
tjf/svfs
*.gcda
*.gcno
.isovalue*
time-scp-mc
time-scp
time-scp-sys
.faces
.vertices
autom4te.cache/
configure
